:root {
	--primary-color: #14805c;
	--primary-color-light: #a4ccbe;
	--secondary-color: #147080;
	--secondary-color-light: #75B2BD;
	--tertiary-color: #DB791E;
	--text-color: #2b2723;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: League Spartan;
	font-size: 20px;
	color: var(--text-color);
	background-color: #eafbf5;
	line-height: 1.3rem;
}

article {
	text-align: left;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 5rem;
	padding: 5rem 0;
}



section {
	width: 100%;
	display: flex;
	gap: 1rem;
}

article section:nth-child(odd) {
	flex-flow: row;
}

article section:nth-child(even) {
	flex-flow: row-reverse;
}

@media (max-width: 1500px) {
	section {
		flex-flow: column !important;
		align-items: center;
	}
}

section > div {
	width: 600px;
	min-width: 600px;
	margin: 3rem
}

@media (max-width: 700px) {
	section div {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 1rem;	
	}
}

/* layout helpers */

.center {
	margin: 0;
	padding: 0;
	display: flex;
	place-content: center;
	width: 100%;
	overflow: visible;
}

.scrollbox {
	overflow-x: scroll;
	overflow-y: visible;
}


/* images */

figure {
	min-height: 100%;
}

@media (max-width: 1500px) {
	article > section:nth-child(odd) figure {
		margin-left: 2rem;
	}

	article > section:nth-child(even) figure {
	  margin-right: 2rem;
	}
}

figure img {
	object-fit: cover;
	height: 100%;
	min-height: 100%;
	border: 1px solid var(--secondary-color-light);
}

img {
  max-width: 100%;
  column-span: none;
}

article > section:nth-child(odd) img {
	border-radius: 3rem 0 0 3rem; 
	border-right: 0;
}

article > section:nth-child(even) img {
	border-radius: 0 3rem 3rem 0;
	border-left: 0;
}

figure caption {
	width: 100%;
	opacity: 0.3;
	padding: 0 0.5rem;
	font-size: smaller;
}

article > section:nth-child(odd) figure caption {
	text-align: right;
}

article > section:nth-child(even) figure caption {
	text-align: left;
}


/* typeography */

p {
	margin: 1rem 0;
}

hgroup {
	margin-top: 1.5rem;
	text-align: center;
}

hgroup p {
	text-transform: uppercase;
	color: var(--secondary-color);
	margin: 0.5rem 0 0 0;
	font-weight: bold;
	line-height: 1.5em;
}

hgroup span {
	font-size: 50px;
	line-height: 60px;
}


h1,
h2 {
	font-weight: 800;
	opacity: 0.8;
	text-align: center;
	line-height: 1.3em;
}

h1 {
	font-family: Averia Sans Libre;
	font-size: 42px;
	color: var(--primary-color);
	margin-top: 0.1rem;
	z-index: 100;
	width: 100%;
}

h2 {
	font-family: Alegreya;
	font-size: 32px;
	color: var(--primary-color);
}

h3 {
	text-transform: uppercase;
	color: var(--secondary-color);
	text-align: center;
	font-size: 0.95em;
	margin-top: 1rem;
}

 
@media (max-width: 700px) {
	hgroup {
		margin: 0 -0.5rem;
	}

	h2 {
		font-size: 25px;
	}

	hgroup p {
		font-size: 16px;
	}
}

p span {
	font-family: Averia Sans Libre;
	color: var(--primary-color);
}


a {
	color: var(--primary-color);
}

ul {
	margin: 1rem 1rem;
	list-style-type: none;
}

li:not(li:first-child) {
	padding-top: 0.5em;
}

/* tables */

table {
	border-collapse: collapse;
	width: 100%;
	margin: 0.5rem 0;
}

th,
td {
	text-align: center;
	padding: 0.2rem;
	min-width: max-content;
}

tr {
	border-bottom: 1px solid var(--text-color);
	border-top: 1px solid var(--text-color);
}

td {
	padding: 0.5em;
}

td ul {
	margin: 0;
	padding: 0;
	font-size: smaller;
	max-width: fit-content;
}

.row {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 0.5em;
}

.column {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 0.5em;
}

.mini-menu {
	font-size: smaller;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1rem;
	max-width: 350px;
}

/* help button */
button {
	background-color: #5e5e5e;
	color: white;
	padding: 0.1rem 0.3rem;
	border: 0;
	border-radius: 0.3rem;
	opacity: 0.8;
	font-weight: bold;
}

.help {
	background-color: #5e5e5e;
	width: 20px !important;
	height: 20px !important;
	border-radius: 10px;
	text-align: center;
	font-size: smaller;
	padding: 0;
	opacity: 0.5;
}

.info {
	font-size: smaller;
	background-color: white;
	padding: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
}

.info button,
.center > button {
	height: fit-content;
	color: #333;
	background-color: transparent;
}
